body {
	background-color:rgba(96, 232, 247, 0.868);
  font-family: "Merriweather", serif;
  font-weight: auto;
  font-style: normal;
}

.img{
	position: relative;
	max-width: 200px;
	height: auto;

}

hr {
	height: none;
	width: 30px;
	border-style: dotted;
	border-width: 2px;
	color: #f5f5f5;
}
.heading{
	margin-left: 200px;

}



h2{
	color:rgb(162, 107, 175) ;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 100;
  font-style: normal;
  text-shadow: 4px 4px 4px ;
  padding: 1%;
}


h1{
	color:purple;
  font-family:"Bebas Neue", sans-serif;
  font: weight 200px;
  font-style:normal;
}
div{
	margin: auto;
	text-align: center;
}
p{
	color:rgb(82, 79, 79);
	width: 1000px;
	text-align: justify;
	margin-left: 10%;
	font-size: larger;
	line-height: 2;
	letter-spacing: 1;
	padding: 5%;
	

}
.footer{
	padding: 2%;
	color: rgb(39, 38, 38);
}
.button:hover{
	background-color: #3636f9;
}
.contact{
	color:rgb(221, 103, 221) ;
	font-size: 20px;
	font-weight: 300;
	text-shadow:4px 4px 4px;
	
}
.skills{
	color:rgb(162, 107, 175) ;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 100;
  font-style: normal;
  text-shadow: 4px 4px 4px ;
  padding: 1%;
 }